body {
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
  @include breakpoint(large) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

hr {
	margin: 0;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

:focus {
  // background: initial !important;
}