#menu {
  @extend .contain-to-grid;
  @extend .fixed;
  // border-bottom: 0.25rem darken($color-brand, 2%) solid;
  // box-shadow: 0px 0.125rem 0.25rem 0px darken($color-brand, 2%);
}

.content {
  &-nav {
    @extend .small-12, .medium-8, .medium-offset-2, .columns;
    position: relative; 
    background-color: $color-background;   
    margin-bottom: 2rem;
  }
  &-previous, &-next {
    @extend .small-6, .columns;
    @include breakpoint(small) {
      height: 2rem;
    }    
    height: 6rem;
    border-top: 0.125rem darken($color-background, 2%) solid;
    text-align: center;  
    &:hover {
      background-color: darken($color-background, 2%);
    }  
    > a {
      line-height: 6rem;
      @include breakpoint(small) {
        line-height: 2rem
      }
    }
  }
}

.top-bar {
  .project-link, .article-link > a {
  }
}