<footer>
  <div class="contact">
    <ul class="contact-list">
      <li class="contact-"><a href="/">twitter</a></li>
      <li class="contact-"><a href="/">github</a></li>
      <li class="contact-"><a href="/">linkedin</a></li>
    </ul>
  </div>
  <div class="bio">
    <p class="bio-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nemo incidunt quas tempora quaerat, facilis tenetur mollitia beatae voluptate quam!
    </p>
  </div>
</footer>