<footer>
  <div class="contact">
    <ul class="contact-list">
      <li class="contact-list-item"><a href="/">twitter</a></li>
      <li class="contact-list-item"><a href="/">github</a></li>
      <li class="contact-list-item"><a href="/">linkedin</a></li>
    </ul>
  </div>
  <div class="colophon">
    <h4 class="colophon-title">Colophon</h4>
    <p class="colophon-body">    
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nemo incidunt quas tempora quaerat, facilis tenetur mollitia beatae voluptate quam!
    </p>
  </div>
</footer>