<div id="menu" class="menu">  
  <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Timothy Voice</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="project-link"><a href="/#projects">Projects</a></li>
        <li class="article-link"><a href="/articles.html">Articles</a></li>
      </ul>

    </section>
  </nav>
</div>