/* ============================ 
	Colors
============================ */

$color-base: hsla(0, 0%, 32%, 1.0);
$color-brand: hsla(198, 100%, 50%, 1.0);
$color-accent: hsla(198, 100%, 50%, 1.0);
$color-link: hsla(180, 5%, 48%, 1.0);
$color-text: hsla(180, 4%, 21%, 1.0);
$color-background: hsla(220, 100%, 99%, 1.0);

/* ============================ 
	Typography
============================ */

$body-font: "pragmatica-web", Helvetica, Arial, sans-serif;
$text-font: "minion-pro", Times, serif;

$text-heavy:900;
$text-medium:400;
$text-light:200;

$underline: 0.0625rem dotted;

/* ============================ 
	Borders
============================ */

/* ============================ 
	Backgrounds
============================ */