/* ============================ 
	Colors
============================ */

$gray: hsla(0,0,91%,1);
$light-gray: hsla(0,0,60%,1);
$white: hsla(0,0,100%,1);
$transparent-white: hsla(0,0,100%,0.95);
$dark-gray: hsla(0,0,53%,1);
$black: hsla(0,0,0%,1);
$navy-black: hsla(219,100,13%,1);
$transparent-black: hsla(0,0,0%,0.75);

/* ============================ 
	Typography
============================ */

$body-font: "pragmatica-web", Helvetica, Arial, sans-serif;
$text-font: "minion-pro", Times, serif;

$heavy-text:900;
$medium-text:400;
$light-text:200;

$underline: 0.0625rem dotted;

/* ============================ 
	Borders
============================ */

$border-thick: 0.125rem $black solid;
$border-thin:  0.125rem $gray solid;

/* ============================ 
	Backgrounds
============================ */